@font-face {
  font-family: plain-light;
  src: url(./plain-light.ttf);
}

@font-face {
  font-family: plain-regular;
  src: url(./plain-regular.ttf);
}

@font-face {
  font-family: silkserif-light;
  src: url(./silkserif-light.ttf);
}

@font-face {
  font-family: silkserif-regular;
  src: url(./silkserif-regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "plain-light";
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  height: 100%;
  width: 100%;
  margin-top: 0.1px;
  background-color: black;
  overflow-x: hidden;
}

#crsr {
  height: 2.3vw;
  width: 2.3vw;
  color: transparent;
  border: 2.5px solid rgba(255, 255, 255, 0.684);
  border-radius: 50%;
  z-index: 99;
  position: fixed;
  mix-blend-mode: difference;
  transform: translate(10%, 20%);
}

#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: #020202;
  padding: 21vh 10vw;
}

.line {
  /* background-color: red; */
  height: fit-content;
  margin-bottom: 2px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2vw;
}

#line1-part1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4vw;
}

#line1-part1 h5 {
  font-size: 4vw;
  font-family: "silkserif-regular";
  font-weight: 500;
}

#line1-part1 h6 {
  font-size: 4vw;
  font-family: "silkserif-regular";
  font-weight: 500;
}

#line1-part1 h5 {
  width: 7vw;
  /* background-color: tomato; */
  text-align: left;
}

.line h1 {
  font-size: 7vw;
  text-transform: uppercase;
  font-weight: 900;
}

.line h2 {
  font-size: 5.4vw;
  text-transform: uppercase;
  font-family: "silkserif-regular";
}

#main {
  position: relative;
  background-color: #151515;
}

/*------------------------- page1 -----------------------------*/

#page1 {
  height: 100vh;
  width: 100%;
  background-color: #151515;
}
/* ----------------nav------------------------ */

#page1 #nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3vw 6vw;
}

#nav-part2 ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5vw;
}

#nav-part2 ul a {
  font-size: 1vw;
}

/*-------------------- hero ----------------------------*/

.hero {
  /* background-color: red; */
  display: flex;
  align-items: center;
  width: 72%;
  margin-left: 28%;
  height: fit-content;
  overflow: hidden;
}

.hero:nth-child(2) {
  margin-top: 15vh;
}

.hero h1 {
  font-size: 7.2vw;
  line-height: 7.2vw;
}

#hero3 h2 {
  font-size: 6vw;
  line-height: 7.2vw;
}

#hero3 h1 {
  border-bottom: 10px solid white;
}

#hero3 h1:hover {
  -webkit-text-stroke: 2px white;
  color: transparent;
  font-weight: 100;
  border-bottom: none;
  transition: all ease 0.02s;
}

#hero3 h2:hover {
  -webkit-text-stroke: 2px white;
  color: transparent;
  font-weight: 100;
}

/*-------------------------------- page2--------------------------------- */

#page2 {
  padding-top: 10vh;
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #151515;
}

#video-container {
  height: 65vh;
  width: 70vw;
  left: 29%;
  position: relative;
  background-color: tomato;
}

#video-cursor {
  background-color: #ffa63d;
  height: 7vw;
  width: 7vw;
  border-radius: 50%;
  position: relative;
  top: -10%;
  left: 70%;
  z-index: 90;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*----------------------------------- page3 -----------------------------*/

#page3 {
  min-height: 100vh;
  width: 100%;
  background-color: #151515;
  position: relative;
  padding: 7vh 2vw;
  margin-top: 10vh;
}

#page3 h1 {
  font-size: 7vw;
  position: relative;
  margin-left: 28vw;
}

#page3 .underline {
  margin-left: 28vw;
}

#image-div-container {
  /* background-color: violet; */
  padding: 3vw 4vw;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 3vw;
}
.image-div {
  position: relative;
  overflow: hidden;
  height: 40vw;
  width: 28vw;
  /* background-color: aqua; */
  flex-shrink: 0;
}

.image-div:nth-child(1) {
  height: 30vw;
  width: 24vw;
}

.image-div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.page3-circle1 {
  position: relative;
  height: 23vw;
  width: 23vw;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
  margin-left: 7vw;
}

.page3-circle1 svg {
  height: 30%;
}

.page3-circle2 {
  position: relative;

  height: 23vw;
  width: 23vw;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page3-circle2 svg {
  height: 30%;
  rotate: -45deg;
}

.circle-in {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 0;
  border-radius: 50%;
  transition: all ease 0.3s;
}

.circle-in p {
  font-size: 1vw;
  font-weight: 600;
  color: black;
  width: 60%;
  scale: 0;
  transition: all ease 0.3s;
  transition-delay: 0.3s;
}

.page3-circle1:hover .circle-in {
  scale: 1;
}

.page3-circle1:hover p {
  scale: 1;
}

.page3-circle2:hover .circle-in {
  scale: 1;
}

.page3-circle2:hover p {
  scale: 1;
}

/*----------------------------- page4--------------------------------------- */

#page4 {
  padding: 7vh 0;
  min-height: 100vh;
  width: 100%;
  /* background-color: rgb(51, 51, 51); */
  position: relative;
}

#page4-content {
  width: 71.2vw;
  left: 28%;
  position: relative;
}

#page4-content h1 {
  font-size: 7vw;
}

#page4-content .underline {
  height: 2px;
  width: 95%;
  background-color: white;
  margin: 5vw 0;
}

#page4-content > p {
  font-size: 2.3vw;
  width: 50%;
  margin-bottom: 4vw;
}

#page4-flex {
  display: flex;
  position: relative;
}

#page4-flex img {
  width: 45%;
}

#page4-flex p {
  font-size: 1vw;
  width: 25%;
  margin-left: 2vw;
}

#page4-blue-div {
  position: relative;
  background-color: #3f7df4;
  padding: 2vw 1.5vw;
  width: 30vw;
  margin-top: -26vh;
  margin-left: 23vw;
}

.blue-div-elem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2vw;
  /* background-color: red; */
  padding: 2vw 1vw;
  border-bottom: 1px solid white;
}

.blue-div-elem h4 {
  font-size: 1.2vw;
  font-weight: 700;
}

.blue-div-elem p {
  font-size: 1vw;
  width: 50%;
}

/*---------------------------- page5 -------------------------*/

#page5 {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.elem {
  /* background-color: red; */
  white-space: nowrap;
  overflow-x: hidden;
}

.elem h1 {
  font-size: 6vw;
  -webkit-text-stroke: 1px white;
  font-family: "silkserif-light";
  font-weight: 100;
  color: transparent;
  display: inline-block;
  margin-right: 1.5vw;
  animation-name: infiscroll;
  animation-duration: 13s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes infiscroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - 1.5vw));
  }
}

.elem2 {
  /* background-color: red; */
  white-space: nowrap;
  overflow-x: hidden;
}

.elem2 h1 {
  font-size: 6vw;
  -webkit-text-stroke: 1px white;
  font-weight: 100;
  color: transparent;
  display: inline-block;
  transform: translateX(calc(-100% - 1.6vw));
  margin-right: 1.5vw;
  animation-name: infiscroll;
  animation-duration: 13s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

/*------------------------- footer ----------------------------*/

#footer {
  height: 80vh;

  /* background-color: violet; */
  position: relative;
  width: 71.2vw;
  left: 28%;
  padding-right: 2vw;
}

#footer h1 {
  font-size: 7vw;
}
.underline {
  height: 2px;
  width: 100%;
  background-color: white;
  margin: 2vw 0;
}

#footer-div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 15vw;
  padding-top: 4vw;
  margin-bottom: 6vw;
}

#footer-div h6 {
  font-size: 1.4vw;
  margin-bottom: 1.5vw;
}

#footer-div h5 {
  font-size: 1.2vw;
  margin: 0.2vh 0;
  font-weight: 500;
}

/* ._canvas_container {
  z-index: 99999 !important;
  pointer-events: none;
} */
